/* --------------------HOME PAGE--------------------------- */
body,
h3 {
    color: #fff;
    font-family: "Roboto";
}

h3 {
    line-height: 1.5;
}

h1,
h2 {

    font-family: "Oswald";
    line-height: 1.5;
}

h2 {
    font-weight: 700;
}

h1 {
    font-weight: 800;
}

/* Top Navigation Section */

.header-section {
    border-radius: 0 0 5px 5px;
    padding: .1rem .2rem;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 5%;
    padding: 0;
    width: max-content;
}

.s-button {
    margin-left: .5rem;
    color: #fff;
    border-style: none !important;
}

.top-navbar {
    border-radius: 0 0 5px 5px;
    padding: 1%;
    margin-bottom: .5rem;
    margin-right: 1rem;
    width: fit-content;
}

.top-nav-link {
    color: #fff;
    font-size: large;

}

.top-nav-link:hover,
.s-button:hover {
    background-color: #050517;
    color: #fff;
    border-radius: 5px 5px 5px 5px;
    opacity: 90%;
}


/* Hero Section */


.banner-section {
    padding: 0;
    background: url(/images/manu-tool.jpeg), linear-gradient(rgba(0, 0, 0, 0.5), gray);
    background-size: cover;
    background-position: left;
    background-blend-mode: overlay;
}

.title {
    margin-top: 5%;
    background-color: #050517;
    opacity: 90%;
}

.banner-row {
    margin-top: 0%;
    margin-bottom: 0;
    text-shadow: 0 1px 1px black;

}

.hero-des {
    margin: 1% auto 0;
    opacity: 80%;
}

.hero-des h2,
.hero-des h1 {
    border-radius: 3px 3px 3px 3px;
    padding: 0 1%;
    color: #050517;
    background-color: #fff;
    display: inline;
}

/* Bottom Navigation Section */

.btm-navbar {
    background-color: #050517;
    border-radius: 0 0 5px 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.navbar-nav {
    width: fit-content;
}

.btm-nav-link {
    color: #fff !important;
    border-radius: 5px;
}

.btm-nav-link:hover,
.btm-nav-link.active {
    /* background-color: #fff !important; */
    color: #cf5c36 !important;
    
}

.navbar-toggler {
    color: #fff !important;
}

/* Categories Section */

.slide-title {
    color: black;
    margin-bottom: 1.5rem;
}

.categories-section {
    background-color: #fff;
}

.product-cards {
    text-align: center;
    margin: 5% auto 0;

}


.card {
    border-color: black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.card-btn {
    color: #fff;
    margin: 0;
    background-color: #050517;
    border-radius: 0;
    height: 100%;

}

.card-btn:hover,
.bottom-btn:hover,
.detail-btn:hover {
    background-color: #cf5c36;
    color: #fff;
}

.card-footer {
    padding: 0;
    height: 100%;
}

.categorie {
    margin: 0 0 5%;
}

.carousel-control-prev-icon,
.carousel-control-next-icon {

    filter: invert(100%);
}

.carousel-control-next {
    margin: -10%;
}
.carousel-control-prev {
    margin: -10%;
}

/* About us section */

.about-us-section {
    padding: 5%;
    text-align: center;
    background-color: #050517 !important;
}

/* Footer Section */

.footer-section {
    padding: 2% 5%;
    color: black;
    text-align: center;
}

.bottom-btn {
    color: #fff;
    background-color: #050517;
    margin-bottom: 2%;
    /* width: 50%; */
    margin-left: auto;
    margin-right: auto;
}

.about-us {
    line-height: 1.5;
    padding: 0 10%;
}

.footer-link {
    font-size: large;
    color: black;
    border-radius: 5px;
}

.footer-link:hover {
    background-color: #050517;
    color: #fff;
}

.social-icon {
    color: black;
    margin: 1% .5%;
}

.social-icon:hover {
    color: #cf5c36;
}

/* --------------------Detail Page-------------------------- */

.content-section {
    padding-top: 0;

    margin: 3% auto 10%;
}

.detail-banner-section {

    padding: 0;
    background: url(/images/manu-tool.jpeg), linear-gradient(rgba(0, 0, 0, 0.5), gray);
    background-size: cover;
    background-position: left;
    background-blend-mode: overlay;
}

.detail-des {
    text-align: left;
    font-size: large;
    color: black !important;

}

.detail-btn-section {
    text-align: center;
    margin: 7% auto 0;
}

.detail-btn {
    color: #fff;
    background-color: #050517;
    width: 100%;
    margin-right: auto;
    margin-left: auto;
}

.category-vid {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 10000;
    background: black;
    width: fit-content;
    height: fit-content;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
    visibility: hidden;
    opacity: 0;
}

.category-vid.active {
    visibility: visible;
    opacity: 1;

}

.category-vid iframe {
    position: relative;
    max-width: 900px;
    outline: none;
}

.close {
    position: absolute;
    top: 5px;
    right: 5px;
    color: #fff;

}

/* Media Querys */

@media (max-width: 700px) {

    .about-us-section {
        padding: 5% 0;
    }

    .bottom-btn {
        width: fit-content;
    }

    h1,
    h2,
    h3 {
        font-size: x-large;
    }

    .about-us-section h3 {
        font-size: large;
    }

}


@media (max-width: 990px) {

    .category-vid iframe {
        max-width: 90%;
    }

    .category-vid {
        max-width: 90%;
    }

    .carousel-control-next{

        display: none;
    }

    .carousel-control-prev{
        display: none;

    }

}


@media (max-width: 990px) {
    .detail-des {
        text-align: center;
    }

    .detail-btn {
        min-width: fit-content;
        margin: 1% auto;
    }

}