/* --------------------HOME PAGE--------------------------- */
body,
h3 {
    color: #fff;
    font-family: "Roboto";
}

h3 {
    line-height: 1.5;
    margin: auto 0;
}

h2 {
    font-family: "Oswald";
    font-weight: 700;
    line-height: 1.5;

}

h1 {
    font-family: "Oswald";
    font-weight: 800;
    line-height: 1.5;
}

hr {
    position: relative;
    top: 2.5rem;
    border-color: black;
}

/* Top Navigation Section */

.header-section {
    background-color: #fff;
    border-radius: 0 0 5px 5px;
    padding: .1rem;
    margin-right: 0;
    margin-left: auto;
    margin-bottom: 8%;
    padding: 0;
    width: max-content;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.top-navbar {
    padding: 0;
}

.top-nav-link {
    color: black;
    font-size: medium;
}

.top-nav-link:hover {
    background-color: #255C99;
    color: #fff;
    border-radius: 0 0 5px 5px;
}

/* Hero Section */


.banner-section {
    padding: 0;
    background: url(/images/manu-hi-res.jpg), linear-gradient(rgba(0, 0, 0, 0.5), gray);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.title {
    margin-top: 8%;
    background-color: #255C99;
    opacity: 90%;
}

.banner-row {
    margin-top: 0%;
    margin-bottom: 0;
}

.hero-des {
    margin: 3% auto 0;
}

/* Bottom Navigation Section */

.btm-navbar {
    background-color: #255C99;
    border-radius: 0 0 5px 5px;
    margin-left: auto;
    margin-right: auto;
    width: fit-content;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.btm-nav-link {
    color: #fff !important;
    border-radius: 5px;
}

.btm-nav-link:hover,
.btm-nav-link:focus,
.btm-nav-link:active {
    background-color: #fff;
    color: #255C99 !important;
}

.navbar-toggler {
    color: #fff !important;
}

/* Categories Section */

.categories-section {
    background-color: #fff;
}

.product-cards {
    text-align: center;
    margin: 5% auto 0;
}

.cards {
    padding: 0;
}

.card {
    border-color: black;
    -webkit-box-shadow: 0 8px 6px -6px black;
    -moz-box-shadow: 0 8px 6px -6px black;
    box-shadow: 0 8px 6px -6px black;
}

.card-btn {
    color: #fff;
    margin: 0;
    background-color: #255C99;
    border-radius: 0;
}

.card-btn:hover,
.bottom-btn:hover {
    background-color: #666A86;
}

.card-footer {
    padding: 0;
}

.categorie {
    margin: 0 0 5%;
}

/* About us section */

.about-us-section {
    padding: 5%;
    text-align: center;
    background-color: #255C99;
}

/* Footer Section */

.footer-section {
    padding: 2% 5%;
    color: black;
    text-align: center;
}

.bottom-btn {
    color: #fff;
    background-color: #255C99;
    margin-bottom: 2%;
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.about-us {
    line-height: 1.5;
    padding: 0 10%;
}

.footer-link {
    font-size: large;
    color: black;
}

.footer-link:hover {
    background-color: #255C99;
    color: #fff;
}

/* --------------------Detail Page-------------------------- */

.content-section {

    margin: 7% auto;
}

.detail-banner-section {

    padding: 0;
    background: url(/images/manu-hi-res.jpg), linear-gradient(rgba(0, 0, 0, 0.5), gray);
    background-size: cover;
    background-position: center;
    background-blend-mode: overlay;
}

.detail-des {
    text-align: left;
    font-size: large;
    color: black !important;

}


@media (max-width: 700px) {
    .header-section {
        width: 80%;
        margin-left: auto;
        margin-right: auto;
    }

    .about-us-section {
        padding: 5% 0;
        text-align: left;
    }
}

@media (max-width: 990px) {
    .detail-des {
        text-align: center;
    }

}